.base-button {
    width: 300px;
    height: 50px;
    padding: 5px;
    font-size: 20px;
    background-clip: padding-box;
    border-radius: 10px;
}
.base-button:hover {
    transition: background-color 0.5s;
    color: rgb(165, 160, 160);
}
.base-button:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
}

